<div class="jumbotron">
    <table class="table table-hover table-dark">
        <thead>
            <tr>
                <th scope="col">Patient</th>
                <th scope="col">Signals</th>
                <th scope="col">Mode</th>
                <th scope="col">Comment</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">{{ID}}</th>
                <td>
                    <thead>
                        <tr>
                            <th scope="col">ECG</th>
                            <th scope="col">Temperature(C)</th>
                            <th scope="col">Hear Rate(bpm)</th>
                        </tr>
                    </thead>
        <tbody>
            <tr>
                <td>{{ECG}}</td>
                <td>{{TEMP}}</td>
                <td>{{HR}}</td>
            </tr>
        </tbody>
        </td>
        <td>{{bluetooth_mode}}</td>
        <td>

            <div class="input-group mb-3">
                <input [(ngModel)]="comment" type="text" class="form-control" placeholder="Add Comment">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="button" (click)="send_comment()">Send</button>
                </div>
            </div>

        </td>
        </tr>
        </tbody>
        <tbody>
            <td colspan="3">
                <div>
                    <canvas id="myChart" width="150" height="50"></canvas>
                </div>
            </td>
        </tbody>
    </table>
</div>